<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Gumdrop</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/public/images/icon.jpg" type="images/x-icon">
</head>
<body>
    <header>
        <h1>Bienvenido a la Empresa de Diseño de Logos y Marketing</h1>
        <nav>
            <a href="/contacto">Contacto</a>
            <a href="/src/views/login.html">Iniciar Seccion</a>
            <a href="/src/views/portafolio.html">Portafolio</a>
            <a href="/src/views/proceso.html">Proceso</a>
            <a href="/src/views/servicios.html">Servicio</a>
        </nav>
    </header>
    <main>
        <section>
            <p>Ofrecemos servicios de diseño de logos y marketing. Explora nuestro portafolio y contáctanos para más información.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Blue Gumdrop. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
